<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yg.Dao.BookMapper">
    <insert id="saveBook">
        insert into book_inf values(null, #{title}, #{author}, #{price});
    </insert>

    <select id="findById" resultType="book">
        select book_id id, book_title title, book_author author,
        book_price price from book_inf where book_id=#{id};
    </select>

<!--    返回List<T>类型时，只需要阿静resultMap设置为其中的泛型类型即可-->
    <select id="findAll" resultMap="book">
        select book_id id, book_title title, book_author author,
        book_price price from book_inf;
    </select>

    <update id="update" parameterType="book">
        update book_inf set book_title = #{title},book_author = #{author}, book_price = ${price} where book_id = ${id};
    </update>

    <delete id="delete">
        delete from book_inf where book_id = #{id};
    </delete>

</mapper>